Правила игры:

1.Цель игры: Заполняйте горизонтальные линии на игровом поле, чтобы они исчезали и вы зарабатывали очки.

2.Управление фигурами: Используйте клавиши стрелок влево и вправо для перемещения фигур по горизонтали. Стрелка вниз ускоряет падение фигуры, а клавиша вверх поворачивает фигуру.

3.Тетримино: Фигуры, называемые тетримино, падают сверху вниз. Каждое тетримино состоит из четырех квадратов и имеет различную форму.

4.Заполнение линий: Когда заполняется горизонтальная линия без пробелов, она исчезает, освобождая место для новых фигур.

5.Окончание игры: Если новое тетримино не может появиться на игровом поле из-за переполнения, игра заканчивается.

6.Очки и уровни: За каждую заполненную линию начисляются очки. С увеличением количества заполненных линий игра усложняется, увеличивая скорость падения тетримино.
# Topchik
# Topchik
